:root {
  --bulma-primary-h: 203deg;
  --bulma-primary-s: 33%;
  --bulma-primary-l: 55%;
  --bulma-link-h: 206deg;
  --bulma-link-s: 42%;
  --bulma-link-l: 22%;
}

html {
  scroll-behavior: smooth;
  scroll-snap-type: y proximity;
  overflow-y: scroll;
}

ul {
  list-style-type: disc;
}

.container,
.hero {
  scroll-snap-align: start;
}

.hero.is-fullheight {
  min-height: 100vh !important;
}

.is-max-width-256 {
  width: 100%;
  max-width: 256px;
}

.is-bottom-0 {
  bottom: 0;
}

.is-right-0 {
  right: 0;
}

.is-z-index-1 {
  z-index: 1;
}

@media (min-width: 769px) {
  .is-max-width-384-tablet {
    width: 100%;
    max-width: 384px;
  }
}

.ca__u-delay250 {
  animation-delay: 250ms;
}

.ca__u-delay500 {
  animation-delay: 500ms;
}

.ca__u-delay750 {
  animation-delay: 750ms;
}

.ca__u-delay1000 {
  animation-delay: 1000ms;
}

.ca__u-delay1250 {
  animation-delay: 1250ms;
}

.ca__u-delay1750 {
  animation-delay: 1750ms;
}
