:root {
  --bulma-primary-h: 203deg;
  --bulma-primary-s: 33%;
  --bulma-primary-l: 55%;
  --bulma-link-h: 206deg;
  --bulma-link-s: 42%;
  --bulma-link-l: 22%;
}

html {
  scroll-snap-type: y proximity;
  overflow-y: scroll;
}

ul {
  list-style-type: disc;
}

.container,
.hero {
  scroll-snap-align: start;
}

.hero.is-fullheight {
  min-height: 100svh !important;
}

.is-max-width-256 {
  width: 100%;
  max-width: 256px;
}

@media (min-width: 769px) {
  .is-max-width-384-tablet {
    width: 100%;
    max-width: 384px;
  }
}

.is-zoomable {
  transition: transform 0.2s ease !important;
}

.is-zoomable:hover {
  transform: scale(1.05);
}
